@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap");

/* Base */
:root {
    --clr-primary: rgb(255, 20, 157);
    --clr-secondary: #272d36;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Josefin Sans", sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* Base */
:root {
    --clr-primary: deeppink;
    --clr-secondary: #272d36;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Josefin Sans", sans-serif;
}

html {
    scroll-behavior: smooth;
}
    body {
        background-image: url("/static/images/main_image.jpg");
        background-size: cover;
        background-position: right;
        background-repeat: no-repeat;
        height: 100px;
        width: 1200px;
        margin: 0;
        font-family: Arial, sans-serif;
        color: rgb(0, 0, 0);
        text-align: center;
        position: relative;
    }

.section {
    width: 100%;
    padding: 40px 0;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    /* 1140px */
    max-width: 120rem;
    padding: 0 3.2rem;
    margin: 28px auto;
}

.grid {
    display: grid;
    column-gap: 6.4rem;
    row-gap: 9.6rem;
}

.grid--3-cols {
    grid-template-columns: repeat(3, 1fr);
}

.margin-right-md {
    margin-bottom: 4.8rem !important;
}

strong {
    font-weight: 500;
}

/***************************/
/* MEALS SECTION */
/***************************/
.section-meals {
    height: 700px;
}

.section-meals .txt{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.meal {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 11px;
    overflow: hidden;
    transition: all 0.4s;
}

.meal:hover {
    transform: translateY(-1.2rem);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.meal-content {
    padding: 24px;
}

.meal-tags {
    margin-bottom: 1.2rem;
    display: flex;
    gap: 0.4rem;
}

.tag {
    display: inline-block;
    padding: 0.4rem 0.8rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    background-color: #51cf66;
    color: #333;
    border-radius: 100px;
    font-weight: 600;
}

.tag--vegetarian {
    background-color: #51cf66;
}

.tag--vegan {
    background-color: #94d82d;
}

.tag--paleo {
    background-color: #ffd43b;
}

.meal-title {
    font-size: 20px;
    color: #333;
    margin-bottom: 1.2rem;
}

.meal-attributes {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.meal-attribute {
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.meal-icon {
    height: 2.4rem;
    width: 2.4rem;
    color: #e67e22;
}

.meal-img {
    width: 100%;
    height: 224.15px;
    object-fit: cover;
}


.container-menu {
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 56px;
    flex-direction: column;
}

.primary {
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 20px;
}

.secondary {
    font-size: 44px;
    font-weight: 700;
    margin-bottom: 20px;
}

.tertiary {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
}

.btn {
    padding: 14px 20px;
    background: #00000085;
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
    font-size: 22px;
    display: inline-block;
    margin: 20px 0;
    transition: all 0.4s ease-in-out;
}

.btn:hover{
    transform: rotate(5deg);
    color: #ffeb14 ;
}

.button {
    --accent: fuchsia;
    border: none;
    border-radius: 1.1em;
    background-color: #212121;
    cursor: pointer;
    color: white;
    padding: 1em 1.5em;
    transition: box-shadow ease-in-out 0.3s, background-color ease-in-out 0.1s,
    letter-spacing ease-in-out 0.1s, transform ease-in-out 0.1s;
}

.button:hover {
    box-shadow: var(--hover-shadows);
}

.button:active {
    box-shadow: var(--hover-shadows), var(--accent) 0px 0px 30px 5px;
    background-color: var(--accent);
    transform: scale(0.95);
}


/* End Base */

/* Menu */
nav {
    padding: 0 33px;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    margin-right: 10px;
    background:#00000085;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    color: white;
    text-align: left;
}

label.logo {
    font-size: 35px;
    line-height: 80px;
    padding: 0 30px;
    font-weight: 700;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    font-size: 18px;
    padding: 7px 20px;
    text-decoration: none;
    color: var(--clr-secondary);
}

.menu a.active,
.menu a:hover {
    border-bottom: 2px solid var(--clr-primary);
    transition: 0.3s;
    border-color: #ffeb14;
}
.menu a{
    color: white;
}
.checkbtn {
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/* End Menu */

/* Hero Section */
#hero-section {
    padding: 132px 33px;
    display: flex;
}

.text,
.visual {
    width: 50%;
}

.text {
    margin: 0 0px;
    margin-left: 500px;
    color:black;
}

.visual img {
    display: block;
    border-radius: 50%;
    height: 500px;
    width: 500px;
}

#hero-section .text {
    margin-left: 30px;
}

#hero-section .visual img {
    margin-left: auto;
}

/* End Hero Section */

/* How It Works */
#how-it-works {
    margin: 0 auto;
    text-align: center;
    background-color: whitesmoke;
}

.box {
    background: black;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 25px 5px;
    margin: 0 10px;
    border-radius: 8px;
    font-size: 18px;
    transition: 0.3s ease;
    cursor: pointer;
}

.box ion-icon {
    font-size: 35px;
    margin: 15px 0;
}

.box:hover {
    transform: rotate(5deg);
}


/* End How It Works */

/* About */
#about .visual img,
#app .visual img {
    margin-right: auto;
}

/* End About */

/* Admin From */
body {
    display: flex;
    justify-content: center;  /* Center horizontally */
    align-items: center;      /* Center vertically */
    height: 100vh;            /* Full viewport height */
    margin: 0;                /* Remove default margin */
    background-color: #f8f9fa; /* Light background (optional) */
}

.form {
    background-color: #00000085;
    padding: 1rem;
    margin-left: 70px;
    max-width: 400px;  /* Add 'px' unit */
    width: 100%;      /* Ensures responsiveness */
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}


.form-title {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
}

.input-container {
    position: relative;
}

.input-container input, .form button {
    outline: none;
    border: 1px solid #e5e7eb;
    margin: 8px 0;
}

.input-container input {
    background-color: #03030385;
    padding: 1rem;
    padding-right: 3rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    width: 300px;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.submit {
    display: block;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    background-color: #ffffff;
    color: #000000;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    width: 100%;
    border-radius: 0.5rem;
    text-transform: uppercase;
    text-decoration: none;
}

.signup-link {
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: center;
}

.signup-link a {
    text-decoration: underline;
    color: #ffeb14;
}

.signup-link1 {
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: right;
    padding-right: 35px;
}

.signup-link1 a {
    text-decoration: underline;
    color: #ffeb14;
}

select {
    background-color: #04000085;
    padding: 1rem;
    padding-right: 3rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    width: 300px;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    outline: none;
    border: 1px solid #e5e7eb;
    margin: 8px 0;
}

/*End Admin From */


