<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Login</title>
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>

<body>
    
    <form class="form" method="POST">
        <p class="form-title">Sign Up</p>

        <div class="input-container">
            <input type="text" name="fullname" placeholder="Enter Full Name" required />
        </div>

        <div class="input-container">
            <input type="text" name="phone_no" placeholder="Enter Phone No" required />
        </div>

        <div class="input-container">
            <input type="email" name="email" placeholder="Enter Email Id" required />
        </div>

        <div class="input-container">
            <input type="password" name="password" placeholder="Enter Password" required />
        </div>

        <!-- Submit button -->
        <button type="submit" class="submit" onclick="location.href='{{ url_for('user') }}'">Sign Up</button>
        <button type="submit" class="submit" onclick="history.back()">Back</button>
    </form>
</body>

</html>
